ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-me
JWT_SECRET=change-me

# Local Docker MongoDB (default)
# MONGO_DB_URI=mongodb://mongo:27017/webplustechludo

# MongoDB Atlas (cloud)
MONGO_DB_URI=mongodb+srv://USER:PASS@cluster.mongodb.net/webplustechludo
MONGO_DB_DATABASE=webplustechludo
