APP_NAME="Monster Game"
APP_ENV=production
APP_KEY=base64:70VyFnHQiB4ltuv3KQs2yNJ1y9sCzgLGa9Gjy9+if8A=
APP_DEBUG=false
APP_URL=https://admin.monstergame.app

DB_CONNECTION=mongodb
MONGO_DB_URI=mongodb://monsterg_monster:YOUR_MONGO_PASS@127.0.0.1:27017/monsterg_monster?authSource=admin
MONGO_DB_DATABASE=monsterg_monster

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync
